<h1 class="text-xl font-bold mt-4">Personal info</h1>
<p>Basic info, like your name and photo</p>

<section id="header">Profile</section>
<section id="form" class="flex flex-col">
    <div class="flex flex-row justify-between">
        <div>Photo</div>
        <div>Image</div>
    </div>

    <div class="flex flex-row justify-between">
        <div>Name</div>
        <div>Xanthe Neal</div>
    </div>

    <div class="flex flex-row justify-between">
        <div>Bio</div>
        <div>I am a software developer.</div>
    </div>

    <div class="flex flex-row justify-between">
        <div>Password</div>
        <div>*****************</div>
    </div>



</section>
